:root{
  --body_background: white;
  --body_color: black;
  --link_color: navy;
}
[data-theme="dark"] {
--body_background: #282c34;
--body_color: white;
--link_color: cyan;
}

body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
